<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    package="com.ihaha.sunny.fox.login">

    <dist:module
        dist:instant="false"
        dist:onDemand="false"
        dist:title="Login">
<!--        <dist:delivery>-->
<!--            <dist:install-time />-->
<!--        </dist:delivery>-->
        <dist:fusing dist:include="false" />
    </dist:module>

</manifest>