<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    package="net.ihaha.sunny.fox">

<!--    <dist:module dist:instant="true" />-->

    <uses-permission android:name="android.permission.INTERNET" />

    <meta-data
        android:name="firebase_crashlytics_collection_enabled"
        android:value="true" />

    <application
        android:name="net.ihaha.sunny.fox.AppApplication"
        android:allowBackup="true"
        android:extractNativeLibs="false"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name="net.ihaha.sunny.fox.ui.welcome.WelcomeActivity" android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="net.ihaha.sunny.fox.ui.auth.LoginActivity" android:configChanges="layoutDirection|uiMode|locale"/>
        <activity android:name="net.ihaha.sunny.fox.ui.main.MainActivity" android:configChanges="layoutDirection|uiMode|locale"/>

    </application>

</manifest>